html {
  background-color: #F7F3E8;
}

header {
  margin: 0;
}

h1 {
  font-family: 'Anton', sans-serif;
  color: #fff;
  background-color:#2B3E42;
  text-align: center;
  margin: 0;
  padding: .5em 0 0 0;
}

h2 {
  font-family: 'Anton', sans-serif;
  color:#2B3E42;
}

body {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
}

main {
  margin: 0 0 0 1em;
}

ol {
  list-style-type:none;
  padding: 0;
  margin: 0;
}

nav {
  background-color: #2B3E42;
  text-align: center;
  padding: 1em;
}

nav ul {
  list-style-type: none;
  background-color: #2B3E42;
  margin: 0;
  padding: 0;
}
nav li {
  display: inline-block;
}

nav a {
  display: inline-block;
  padding: 1em 0.5em;
  background-color: #701b1b;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
  width: 6em;
}

a {
  color: #701b1b;
  display: block;
}

a:hover {
  color:red;
}

ul {
  list-style-type: lower-roman;
}

dt {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
}

blockquote {
  font-style: italic;
  font-family: 'Droid Serif', serif;
}

cite {
  font-style: italic;
  font-size: .75rem;
  font-family: 'Droid Serif', serif;
  color: #747E80;
  margin: 350px;

}

span {
  font-weight:bold;
  font-size:1.5rem;
  color:#747E80;
}

figure {
  border: 3px solid #747E80;
  border-radius: 6px;
  margin:0;
  padding: 1em
}

figcaption {
  font-size: .75rem;
  font-style: italic;
}

b {
  font-weight: normal;
  color: #747E80;
}

.site {
  list-style-type: circle;
  color: #701b1b;
}

footer {
  background-color: #2B3E42;
  margin: 0 0 0 0;
}

h3 {
  font-family: 'Anton', sans-serif;
  font-size: 2em;
  color: #fff;
  padding: 0 0 0 1em;
  margin: 0;

}

aside ul {
  padding: 0 0 1em 2em;
}
